body{
  font:1.2em normal Arial,sans-serif;
  color:#34495E;
  padding-top: 70px;
}

h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

.container{
  width:98%;
  margin:auto;
}

table{
  border-collapse:collapse;
  width:100%;
  vertical-align:bottom;

}

.blue{
  border:2px solid #1ABC9C;
}

.blue thead{
  background:#1ABC9C;
}

.purple{
  border:2px solid #9B59B6;
}

.purple thead{
  background:#9B59B6;
  vertical-align:bottom;
}

thead{
  color:white;
  vertical-align:bottom;

}

th,td{
  text-align:center;
  padding:8px 2;
  vertical-align:bottom;
  
}

tbody tr:nth-child(even){
  background:#ECF0F1;
  vertical-align:bottom;
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
  vertical-align:bottom;
}

.fixed{
  top:50;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}